---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import CoverImage from '../../public/cover.png';
import ProfileImage from '../../public/profile.jpeg';
---

<Layout title="Portfolio">
  <section class="px-5 py-8 w-full">
    <div class="w-fit mx-auto flex jusitfy-center items-end">
      <Image src={ProfileImage} alt="Profile Image" class="aspect-square rounded-full w-14 mr-4 mb-2" width={700} height={700} transition:name="profile" />
      <h1 class="text-xl sm:text-7xl font-extrabold text-center pt-12" transition:name="legend">Hello, World!</h1>
    </div>
    <p class="prose prose-2xl text-xl text-zinc-800 w-[700px] px-5 text-justify mx-auto pt-12 font-normal flex-wrap text-clip">
      Welcome to my portfolio website, a digital canvas that beautifully encapsulates my journey, expertise, and skills. This meticulously crafted online space serves as a window into my world of creativity, innovation, and proficiency.
    </p>
    <p class="text-md text-zinc-500 pt-5 pb-8 w-[600px] text-center mx-auto px-3 font-light">
      "Crafting digital excellence through innovative design and unparalleled expertise."
    </p>
    <Image src={CoverImage} alt="Cover Image" class="sm:w-[600px] mx-auto pb-12" width={1300} height={900} />
  </section>
</Layout>
